@page
@model Kerekes_Denisa_Proiect.Pages.Chocolates.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chocolate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chocolate.ChocolateName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chocolate.ChocolateName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chocolate.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chocolate.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chocolate.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chocolate.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chocolate.Expiration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chocolate.Expiration)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Chocolate.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
